<%= link_to("新增職缺", new_admin_job_path, class:"btn btn-default") %>
<h1>工作列表</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <td>職缺名稱</td>
      <td>店名</td>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
    <tr>
      <td><%= job.title %></td>
      <td><%= job.store_name %></td>
      <td><%= link_to "修改",  edit_admin_job_path(job) %></td>
      <td><%= link_to "刪除", admin_job_path(job), method: "delete", data: { confirm: "確認刪除" } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
